body{
    margin: 0px;
    background-color: #f1f2f6;
    font-family: 'Open Sans', sans-serif;
}

.nav-center {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 10px 24px 0px rgba(79, 79, 79, 0.6);
    -moz-box-shadow: 0px 10px 24px 0px rgba(79, 79, 79, 0.6);
    box-shadow: 0px 10px 24px 0px rgba(79, 79, 79, 0.6);
}
.nav-links{
    list-style-type: none;
    font-size: 18px;
    color: black;
}
.nav-links li{
    float: left;
}
a {
    display: block;
    padding: 5px;
    text-decoration: none;
}
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    background-color: transparent;
    border: 2px solid #2f3542;
    color: #2f3542;
    border-radius: 8px;
    padding: 15px 32px;
    text-align: center;
    font-size: 18px;
    outline: none;
}
.btn:hover{
    transition: 0.7s;
    background-color: #2f3542;
    color: #ffffff;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2{
    display: block;
    color: #ffffff;
    background-color: #2f3542;
    padding: 15px;
    border-radius: 8px;
}